[submodule "vim/.vim/bundle/syntastic"]
	path = archived/vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/bundle/goyo.vim"]
	path = archived/vim/.vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = archived/vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = archived/vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/colorizer"]
	path = archived/vim/.vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = archived/vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = archived/vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/bundle/grep.vim"]
	path = archived/vim/.vim/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim
[submodule "vim/.vim/bundle/emmet-vim"]
	path = archived/vim/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "ranger/.config/ranger/colorschemes"]
	path = ranger/.config/ranger/colorschemes
  url = https://github.com/ranger/colorschemes
  ignore = untracked
[submodule "vim/.vim/bundle/rust.vim"]
	path = archived/vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/.vim/bundle/onedark.vim"]
	path = archived/vim/.vim/bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "vim/.vim/bundle/vim-startify"]
	path = archived/vim/.vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vim/.vim/bundle/gruvbox"]
	path = archived/vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/.vim/bundle/vim-easymotion"]
	path = archived/vim/.vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim/.vim/bundle/fzf"]
	path = archived/vim/.vim/bundle/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/bundle/coc.nvim"]
	path = archived/vim/.vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/.vim/bundle/vim-mustache-handlebars"]
	path = archived/vim/.vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "vim/.vim/bundle/bclose.vim"]
	path = archived/vim/.vim/bundle/bclose.vim
	url = https://github.com/rbgrouleff/bclose.vim
[submodule "vim/.vim/bundle/ranger-explorer.vim"]
	path = archived/vim/.vim/bundle/ranger-explorer.vim
	url = https://github.com/iberianpig/ranger-explorer.vim
[submodule "vim/.vim/bundle/indent-blankline.nvim"]
	path = archived/vim/.vim/bundle/indent-blankline.nvim
	url = git@github.com:lukas-reineke/indent-blankline.nvim.git
