[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/bundle/goyo.vim"]
	path = vim/.vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/colorizer"]
	path = vim/.vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/bundle/grep.vim"]
	path = vim/.vim/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim
[submodule "vim/.vim/bundle/emmet-vim"]
	path = vim/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "ranger/.config/ranger/colorschemes"]
	path = ranger/.config/ranger/colorschemes
  url = https://github.com/ranger/colorschemes
  ignore = untracked
[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/.vim/bundle/onedark.vim"]
	path = vim/.vim/bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "vim/.vim/bundle/vim-startify"]
	path = vim/.vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vim/.vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
